@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    font-family: 'Roboto';
    /* border: solid 1px red; */
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(18%, 1fr) 82%;
    grid-template-rows: 100%;
}

.main {
    display: grid;
}

.sidebar {
    padding: 0 0 0 2rem;
    grid-row: 1 / -1;
    background-color: rgb(8, 152, 255);
    color: white;
}

.content {
    padding: 1rem;
    grid-column: 2 / -1;
    display: grid;
    gap: 3rem;
    grid-template-columns: 34% 34% 20%;
    background-color: rgb(237, 235, 235);
}

.header {
    padding: 1rem 1rem 0 1rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 60%;
}

.icon {
    display: flex;
    height: 70%;
    width: 100%;
}

.icon svg, .user-info svg {
    padding: 0 1rem 0 1rem;
}

input {
    width: 90%;
    border-radius: 8px;
    background-color: rgb(235, 236, 237);
    border: 0;
}

.user-info {
    display: flex;
    align-items: center;
    align-self: center;
    padding: 1rem;
    justify-self: end;
}

.ic {
    align-items: center;
    display: flex;
}

.ic svg {
   align-items: end; 
}

#name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    padding: 1rem;
}

#name h5, #name h3 {
    margin: 0.2rem;
}

.buttons {
    gap: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 35%;
    align-self: center;
    justify-self: stretch;
}

button {
    background-color: rgb(8, 152, 255);
    color: white;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 550;
    width: 100%;
    border: 0;
}


.card {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    border-left: solid 8px rgb(255, 187, 0);
    box-shadow: 1px 1px 5px gray;
}

.card p {
    color: gray;
}

.projects {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5rem;
    align-self: stretch;
}

.proj {
    grid-column: 1 / 3;
    align-self: stretch;
}

.announcements h4, .trending h4 {
    margin-bottom: 0;
    padding-left: 1rem;
    font-size: .9rem;
}

.announcements p, .trending p {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    color: gray;
}

.announcements p {
    border-bottom: solid 1px gray;
}

.trending h4 {
    font-weight: 500;
}

.announcements {
    grid-row: 1 / 2;
}

.trending {
    align-self: end;
    grid-row: 2 / 3;
}

.both {
    display: grid;
    grid-template-rows: 60% 40%;
}

